@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @property --gap{
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
  }
  @property --angle{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;}

body::-webkit-scrollbar {
  display: none;
}

.main{
    height: 100vh;
    width: 100%;
    background: #1f1f38;
    background-size: cover;
    background-position: center;
    /* background-image: url(../bg-texture.png); */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #0099FF;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration:none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #0099FF;
    transition: .4s;
}
.btn{
    background-color: #0099FF;
    color:whitesmoke ;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content
{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color:#fcfcfc;
    margin: 20px 0px 20px;
    font-size: 60px;
    display: inline-block;
    overflow: hidden;
    animation: typing 2s steps(20, end) ;
}
h3{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;

}
.news form{
 width: 380px;
 max-width: 100%;
 position: relative;
}
.news form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #0099FF;
    outline: none;
    border-radius: 30px;
}
.news form input:last-child
{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #0099FF;
    color: #fcfcfc;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585 ;
    top: 6px;
    right: 6px;
}

.about{
    /* width:100%; */
    /* height: 100%; */
    padding: 200px 0px;
    background-color: #1f1f38;
}
.about-text{
    width: 550px;
}
.hero{
    /* width: 1130px; */
    /* max-width:95%; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #fcfcfc;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
}
button{
    background-color: #0099FF;
    color: #fcfcfc;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #0099FF;
    cursor: pointer;
}

/* ===============================IMG============================ */


img {
  float: right;
  --border: 15px;
  --gap: 12px;
  
  width: 500px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));
  
  --angle: 90deg;
  background:
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
    conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border),auto;
  background-repeat: no-repeat;
  
  -webkit-mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
          mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
  transition: --angle .4s,--gap .4s;
}
img:hover {
  --angle: 0deg;
  --gap: 5px;
}


.myPhoto{
  width: 20pc;
    --color: #0099FF;
   
    height: 20pc;
    margin-top: 70px;
    margin-right: 150px;
}
 /* =====================================skill============ */
 /* .percentage-bar {
  width: 200px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
}

.percentage-bar .filled {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.percentage-bar .percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
} */


/* ==========================================skill============ */
.skill{
  background:#1f1f38 ;
  width: 100%;
  padding: 100px 0px;

}

.title h2{
  color: white;
  font-size:75px ;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  border-radius: 20px;
  background-color: white;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color:#0099FF;

}
 h5{
  color:darkblue;
  font-size: 23px;
  margin-bottom: 15px;

 }

 .par p{
  color:#fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
 }
 .card .button{
  background-color: #0099FF;
  color: #fcfcfc;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 7px 22px;
  border-radius: 30px;
  transition: .4s;
  
 }